@import 'variables.scss';
/* defaults */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: $light-blue;
	font-family: 'Open Sans', arial;
}
li.not-list-style {
	list-style: none;
}
a,
a:hover {
	color: inherit;
	text-decoration: none;
}
h2 {
	font-size: 1.5em;
	font-weight: normal;
}
h3 {
	font-size: 1.17em;
	font-weight: normal;
}
.container-points h2 {
	margin-bottom: 15px;
}
.container-points h3 {
	margin-bottom: 10px;
}
ol.ol {
	font-size: 20px;
}
.not-found {
	font-size: 20px;
}
a.a-designed {
	font-size: 20px;
	color: rgb(0, 75, 126);
	text-decoration: underline;
}
a.a-small {
	font-size: 16px;
}
.table td {
	border: 0;
}
.buttons {
	display: flex;
    flex-wrap: wrap;
	margin-bottom: 10px;
}
.button-filter {
	background: rgba(0,75,126,.4);
	border-radius: 15px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	padding: 5px 10px;
	margin-right: 10px;
}
.button-filter:hover {
	background: rgba(0,75,126,.6);
}
.active-button {
	background: rgba(0,75,126,.8);
}
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* containers */
.container-menu,
.container-banner {
	width: 100%;
	max-width: 1080px;
    height: auto;
	padding: 0;
	margin: auto;
}
header > .container-menu {
	margin-top: 130px;
}
.top-menu .container-menu {
	background: inherit;
}
.container {
	width: 100%;
	max-width: 1080px;
	padding: 20px;
	margin: auto;
	background: #CCDFEC;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.container-points {
	display: block;
}
.container-points h2 {
	display: inline-block;
}
.container-internat {
	align-items: flex-start;
}
.top-menu-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin: auto;
    height: 40px;
}
/* signin */
.signin-card {
	background: #2a3955;
	padding: 15px;
	margin-top: 75px;
	margin-bottom: 50px;
	margin-left: 15%;
	width: 25%;
	color: white;
}
.signin-card input {
	font-family: 'Courier New', arial;
	border-radius: 0;
	border: 0;
}
input[type="checkbox"] {
	background: #77a5f8;
}
.signin-card i {
	color: #2a3955;
}
.signin-card .submit {
	margin-bottom: 0;
}
.input-group-text {
	background: #77a5f8;
	border: 0;
	border-radius: 0;
	margin: 0;
}
body.signin-body {
	height: 100%;
	font-family: 'Open Sans', arial;
}
html.signin-html {
	background: linear-gradient(to right, #5e87d3, #bed5ff );
}
.container-signin,
body.signin-body {
	background: none !important;
}
.index-notification {
	color: white;
	font-weight: bold;
	margin-bottom: 10px;
}
.check {
	font-family: 'Courier New', arial;
	display: inline-block;
	margin-left: 30px;
	font-size: 15px;
	color: #8095bb;
    float: right;
    vertical-align: middle;
}
.hidden-lg {
    display: none;
}
.fa {
    line-height: 26px;
}
/* header */
.top-menu {
	background: #004B7E;
	padding: 0;
	height: 40px;
	max-height: 80px;
	overflow: hidden;
}
.top-menu > .container-menu > img {
	width: 10%;
	height: auto;
	margin: 5px 0;
}
.profile-thing {
	float: right;
    text-align: right;
}
.top-menu-cont img {
    height: 25px;
    width: auto;
}
.lang-set {
    color: #fff;
}
.right-top-menu .btn-group {
    margin-right: 20px;
}
/*
.profile-photo img {
	width: 10%;
	height: auto;
	margin: 5px 0;
	float: right;
}*/
/* nav */
.main-menu {
	background: #004B7E;
}
nav ul {
	margin: 0;
	font-size: 0;
}
nav > ul > li {
	font-size: 15px;
	color: #fff;
	padding: 10px 0;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
	cursor: pointer;
}
nav > ul > li.menu-drop {
	padding: 0;
	cursor: pointer;
}
nav > ul > li .btn-group.show {
	background: rgba(0, 55, 106, .9);
	color: #ddd;
}
nav > ul > li.active {
	background: #002C4A;
}
nav > ul > li a {
	padding: 10px;
	cursor: pointer;
	transition: .5s;
}
nav > ul > li > a:hover {
	background: rgba(0, 55, 106, .9);
	color: #ddd;
	text-shadow: 0 0 3px #555;
	text-decoration: none;
}
nav > ul > li .btn-group {
	transition: .5s;
}
nav > ul > li .btn-group:hover {
	background: rgba(0, 55, 106, .9);
	text-decoration: none;
	color: #ddd;
}
ul.dropdown-menu {
	border-radius: 0;
	border: 0;
}
ul.dropdown-menu li {
	padding: 5px 0;
	transition: .5s;
}
ul.dropdown-menu,
ul.dropdown-menu li {
	background: #CCDFEC;
}

ul.dropdown-menu li:hover {
	background: #B3C8E6;
}
.dropdown {
	position: relative;
}
.dropdown-toggle:focus {
	outline: 0;
}
.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}
.open {
	position: relative;
}
.open > .dropdown-menu {
	display: block;
}
.dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 2px;
}
.dropdown-menu {
	position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 130px;
    padding: 5px 0;
    margin: 5px 0 0;
    list-style: none;
    font-size: 15px;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}
.dropdown-menu hr {
	margin: 0;
	overflow: hidden;
	background-color: #CCDFEC;
	border: 1px solid #CCDFEC;
	border-top: 1px solid #93BAC8;
	border-bottom: 1px solid #93BAC8;
}
.right-dropdown-menu {
	left: auto !important;
    right: 0 !important;
    // top: 18px !important;
}
/* loader */
.loader :first-child {
	background:rgb(0, 75, 126);
	animation-delay:-1.5s
}
.loader :nth-child(2) {
	background:rgb(0, 75, 126);
	animation-delay:-1s
}
.loader :nth-child(3) {
	background:rgb(0, 75, 126);
	animation-delay:-0.5s
}
.loader :last-child {
	background:rgb(0, 75, 126)
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}
.loader hr{
	border: 0;
	margin: 0;
	width: 40%;
	height: 40%;
	position: absolute;
	border-radius: 50%;
	animation: spin 2s ease infinite;
}
@keyframes spin{
	0%,100% {
		transform: translate(0)
	}
	25% {
		transform: translate(160%)
	}
	50% {
		transform: translate(160%, 160%)
	}
	75% {
		transform: translate(0, 160%)
	}
}
/* profile */
.block-information {
	padding: 20px;
	background: #93BAC8;
	margin-bottom: 20px;
}
.profile-information {
	width: 50%;
}
.profile-information h3 {
	margin-top: 10px;
}
.timetable {
	width: 48%;
	float: right;
	margin-bottom: 20px;
}
.timetable h2 {
	margin-bottom: 10px;
}
.timetable-table {
	width: 100%;
	background: #B3C8E6;
	border-collapse: collapse;
	transition: .5s;
	box-shadow: 2px 2px 4px #666;
}
.timetable-table:hover {
	box-shadow: 5px 5px 8px #666;
}
.timetable-table tr {
	border-bottom: 1px solid rgba(129, 150, 180, .2);
}
.timetable-table th,
.timetable-table td {
	padding: 3px;
	text-align: left;
}
.timetable-table th:nth-child(3n),
.timetable-table td:nth-child(3n),
.timetable-table th:nth-child(3n+1),
.timetable-table td:nth-child(3n+1) {
	text-align: center;
}
.tal {
	text-align: left;
}
tr.lesson-now {
	background: #CCDFEC;
}
/* notifications */
.notifications {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.notifications .one-notif {
	padding: 10px;
	margin-right: 15px;
	flex-basis: 50%;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px #777;
}
.notifications .read-notification {
	background: #B3C8E6;
}
.notifications .unread-notification {
	background: #7594BF;
}
.notifications .from-name {
	color: #4D4D4D;
	font: 15px/1.5 "Open Sans", arial;
}
.notifications .transaction-time {
	color: #4D4D4D;
	font: 15px/1.5 "Open Sans", arial;
}
.notifications .cause {
	color: #000;
	font: 500 17px/1.5 "Open Sans", arial;
}
.notifications .points {
	font: 700 27px/1.5 "Open Sans", arial;
	float: right;
	align-self: center;
	margin-top: -15px;
}
.notifications .good-points {
	color: #007800;
}
.notifications .bad-points {
	color: #EF1919;
}
/* points page */
.day .transaction {
	padding: 10px;
	margin-right: 15px;
	width: 50%;
	margin-bottom: 20px;
	background: #B3C8E6;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #888;
}
.day .from-name {
	color: #4D4D4D;
	font: 15px/1.5 "Open Sans", arial;
}
.day .transaction-time {
	color: #4D4D4D;
	font: 15px/1.5 "Open Sans", arial;
}
.day .cause {
	color: #000;
	font: 500 17px/1.5 "Open Sans", arial;
}
.day .points {
	font: 700 27px/1.5 "Open Sans", arial;
	float: right;
	align-self: center;
	margin-top: -15px;
	margin-left: 10px;
}
.day .good-points {
	color: #007800;
}
.day .bad-points {
	color: red;
}
/* формы */
.form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border-radius: 0;
	border: 1px solid rgb(169, 169, 169);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.sm-form-control {
	margin: 0;
	margin-bottom: 10px;
	padding: 3px 6px;
	height: 28px;
}
input[type="file"].form-control {
	background-color: #CCDFEC;
	padding: 0;
	margin: 20px 0 10px;
	border: 0;
}
textarea.form-control {
	resize: vertical;
	min-height: 40px;
}
.form {
	flex-basis: 60%;
	width: 60%;
}
.form-80 {
	flex-basis: 80%;
	width: 80%;
}
.form-50 {
	flex-basis: 50%;
	width: 50%;
}
.form-50 label {
	margin-bottom: 5px;
}
.form-40 {
	flex-basis: 40%;
	margin-right: 10%;
	width: 40%;
}
.form-40-marg-all {
	width: 40%;
	margin-right: 60%;
	margin-bottom: 20px;
}
/* banners */
.container-banner {
	width: 100%;
	max-width: 1080px;
	padding: 0;
	margin: auto;
}
#rotator {
	position: relative;
}
#rotator ul li {
	float: left;
	position: absolute;
	list-style: none;
	max-height: 80px;
	overflow: hidden;
	top: 10px;
}
#rotator ul li a {
	height: 80px;
    display: inline-block;
}
.banner {
	width: 100%;
	height: auto;
}
#rotator ul li.show {
	z-index: 500;
}
.add-banner {
	font-size: 25px;
	padding: 0 10px;
	// background: linear-gradient(rgba(56, 223, 100, 0.6), rgba(100, 223, 133, 0.6));
	background: #466cb2;
	color: #bed5ff;
	margin-left: 15px;
	transition: .5s;
	cursor: pointer;
}
.add-banner:hover {
	background: #77a5f8;
	color: #bed5ff;
}
.one-banner {
	margin-bottom: 20px;
	box-shadow: 2px 2px 4px #777;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	background: #B3C8E6;
}
.one-banner img {
	width: 95%;
	clear: both;
}
.banner-description {
	padding: 5px 10px;
}
.banner-buttons {
	width: 5%;
}
.banner-button {
	float: right;
	border: 0;
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	transition: .5s;
	text-align: center;
	cursor: pointer;
}
.banner-button:first-child {
	margin-bottom: 14px;
}
.banner-delete {
	color: #7F2200;
	background: #E26638;
}
.edit-banner {
	background: #77a5f8;
	color: #000;
}
.edit-banner:hover {
	background: #99BDFF;
}
.banner-label {
	width: 100%;
	margin-bottom: 5px;
	color: #4D4D4D;
	font: 16px/1.5 "Open Sans", arial;
    word-break: break-all;
}
.banner-label a {
	color: rgb(0, 75, 126);
	text-decoration: underline;
}
.banner-label span {
	color: #000;
	font: 400 18px/1.5 "Open Sans", arial;
}
.edit-img {
	width: 80%;
	margin-bottom: 10px;
}
.edit-img img {
	width: 100%;
	height: auto;
}
/* create poll */
.voting_container input {
	height: 38px;
	margin-bottom: 5px;
	-webkit-appearance: none;
	border-radius: 0px;
	line-height: 15px;
}
.voting_container form {
	position: relative;
}
.variant input[type="text"] {
	width: 95%;
	height: 38px;
	border-right: none;
}
.variant .removalArea {
	width: 5%;
	height: 38px;
	margin-left: 0px;
	background-color: white;
	border: 1px solid rgb(169, 169, 169);
	border-left: none;
	float: right;
	margin-top: 0px;
	position: relative;
}
.variant:hover > .removalArea > .removeX::before {
	opacity: 1;
}
.variant:hover > .removalArea > .removeX::after {
	opacity: 1;
}
.removalArea .removeX {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
}
.removalArea .removeX::before,
.removalArea .removeX::after {
	content: "";
	width: 50%;
	height: 2px;
	background: #ccc;
	display: block;
	position: absolute;
	opacity: 0.6;
	transition: .2s ease-in-out ;
}
.removalArea .removeX::before {
	top: 50%;
    transform: rotate(45deg);
    left: 20%;
}
.removalArea .removeX::after {
	bottom: 42%;
    transform: rotate(-45deg);
    left: 20%;
}
.removalArea:hover > .removeX::before {
	background: black;
}
.removalArea:hover > .removeX::after {
	background: black;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.add-var {
	width: 100%;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	padding-left: 3%;
	color: #00407E;
	transition: 0.5s;
}
.add-var:hover {
	color: #005687;
}
.add-var:active {
	color: #004167;
}
.variants {
	width: 100%;
	padding: 6px 12px;
	margin: 0;
	font-size: 14px;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border-radius: 0;
	border: 1px solid rgb(169, 169, 169);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.variants-label {
	margin-top: 15px;
}
.vars .variant .wout-remove {
	width: 100%;
	border: 1px solid rgb(169, 169, 169);
}
/* polls */
.add-poll {
    font-size: 25px;
    padding: 0 10px;
    // background: linear-gradient(rgba(56, 223, 100, 0.6), rgba(100, 223, 133, 0.6));
    background: #466cb2;
    color: #bed5ff;
    margin-left: 15px;
    transition: .5s;
    cursor: pointer;
}
.add-poll:hover {
    background: #77a5f8;
    color: #bed5ff;
}
.one-poll {
	width: 50%;
}
.vote-not-this {
	transition: 2s;
}
.vote-this {
	background: #306B82;
	clip-path: circle(700px at 95% 50%);
	color: #fff;
	transition: 2s;
}
.vote-this span {
	color: #fff;
}
.vote-info {
	display: inline-block;
	float: right;
	margin-left: 15px;
	margin-top: -25px;
}
.vote-count {
	font-size: 17px;
	font-weight: 700;
    float: right;
    margin-right: 5px;
}
.poll-vote {
	height: 30px;
	width: 30px;
	margin-left: 5px;
	background: #CCDFEC;
	border: 0;
	font-size: 20px;
	transition: .5s;
	color: #004B7E;
    float: right;
}
.vote-this .poll-vote {
	margin-left: 5px;
	border: 0;
	font-size: 20px;
	transition: .5s;
	color: #CCDFEC;
	background: #004B7E;
}
.song-name {
    font-size: 17px;
    font-weight: 700;
}
.song-singer {
	font-size: 17px;
	font-weight: 500;
}
.poll-elem {
    width: 45%;
    padding: 10px;
    box-shadow: 2px 2px 4px #777;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #B3C8E6;
}
.poll-elem a {
    font-size: 20px;
    color: rgb(0, 75, 126);
    text-decoration: underline;
}
.poll-delete {
    float: right;
    border: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: .5s;
    text-align: center;
    cursor: pointer;
    color: #7F2200;
    background: #E26638;
}
.one-poll-elem {
    background: #93BAC8;
    padding: 15px 20px;
    margin-bottom: 5px;
}
.vote-not-this {
    transform: 2s;
}
.vote-this {
    background: #306B82;
    clip-path: circle(700px at 95% 50%);
    color: #fff;
    transform: 2s;
}
.vote-this span {
    color: #fff;
}
.vote-info {
    display: inline-block;
    float: right;
    margin-left: 15px;
    margin-top: -25px;
}
.vote-count {
    font-size: 17px;
    font-weight: 700;
}
.vote-for-this {
    padding: 3px 7px;
    margin-left: 5px;
    background: #CCDFEC;
    border: 0;
    font-size: 20px;
    transition: .5s;
    color: #004B7E;
}
.voted-for-this {
    padding: 3px 7px;
    margin-left: 5px;
    border: 0;
    font-size: 20px;
    transition: .5s;
    color: #CCDFEC;
    background: #004B7E;
}
.remove-music {
    padding: 3px 7px;
    margin-left: 5px;
    border: 0;
    font-size: 20px;
    transition: .5s;
    color: #7F2200;
    background: #E26638;
}
/* events */
.one-event {
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px #777;
    background: #B3C8E6;
}
.one-event h2 {
    margin-left: 10px;
}
.add-event {
	font-size: 25px;
	padding: 0 10px;
    background: #466cb2;
	// background: linear-gradient(rgba(56, 223, 100, 0.6), rgba(100, 223, 133, 0.6));
	color: #bed5ff;
	margin-left: 15px;
	transition: .5s;
	cursor: pointer;
}
.add-event:hover {
	background: #77a5f8;
	color: #bed5ff;
}
ol.event-partisipants {
    padding-inline-start: 40px;
}
.event-delete {
    border: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: .5s;
    text-align: center;
    cursor: pointer;
    color: #7F2200;
    background: #E26638;
}
.event-description {
    margin-bottom: 5px;
}
.users-block {
	margin-top: 20px;
}
.user-delete {
	float: right;
	border: 0;
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	transition: .5s;
	text-align: center;
	cursor: pointer;
	color: #7F2200;
	background: #E26638;
}
.delete-user {
	border: 0;
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	transition: .5s;
	text-align: center;
	cursor: pointer;
	color: #7F2200;
	background: #E26638;
	margin-left: 5px;
}
.add-user {
	border: 0;
	display: inline-block;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	transition: .5s;
	text-align: center;
	cursor: pointer;
	background: #77a5f8;
	color: #000;
}
.add-user:hover {
	background: #99BDFF;
}
.variant {
	margin-bottom: 10px;
}
/* documents */
.add-document {
	font-size: 25px;
	padding: 0 10px;
	background: #466cb2;
	color: #bed5ff;
	margin-left: 15px;
	transition: .5s;
	cursor: pointer;
}
.delete-document {
    border: 0;
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    transition: .5s;
    text-align: center;
    cursor: pointer;
    color: #7F2200;
    background: #E26638;
}
.edit-document {
    border: 0;
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    transition: .5s;
    text-align: center;
    cursor: pointer;
    background: #77a5f8;
    color: #000;
    margin-left: 10px;
}
.edit-document:hover {
    background: #99BDFF;
}
/* submit */
.submit {
	font-family: 'Courier New', arial;
	background: #466cb2;
	padding: 5px 15px;
	margin-bottom: 10px;
	border: 0;
	color: #bed5ff;
	font-size: 16px;
	transition: .5s;
	cursor: pointer;
}
.submit:hover {
	background: #77a5f8;
}
.big-submit {
	font-size: 20px;
}
.sm-submit {
	margin: 0;
	font-size: 14px;
}
.points-submit {
	margin-left: 10px;
	margin-top: -10px;
}
/* questions */
.one-question {
    width: 48%;
    padding: 10px;
    background-color: #93BAC8;
    margin-bottom: 20px;
}
.question-text {
	font-size: 24px;
}
.question-text p {
	margin-bottom: 0;
}
.question-remove {
	margin-right: 5px;
	float: right;
	border: 0;
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	transition: .5s;
	text-align: center;
	cursor: pointer;
	color: #7F2200;
	background: #E26638;
}
.question-text,
.from {
	display: inline-block;
	margin-right: 8px;
}
.from {
	margin-top: -10px;
	padding-top: 0;
}
.userlink {
	font-size: 16px;
	color: #4d4d4d;
}
.question-answer {
	font-family: 'Courier New', arial;
	background: #466cb2;
	padding: 5px 15px;
	margin-bottom: 10px;
	border: 0;
	color: #bed5ff;
	font-size: 16px;
	transition: .5s;
	cursor: pointer;
}
.question-answer-field {
	position: relative;
	margin: 15px 0;
}
.answer-text {
	margin-left: 20px;
}
.question-answer-send-text {
	width: 80%;
	margin-right: 20%;
	min-height: 60px;
	resize: vertical;
	padding: 5px 10px;
}
img.answer {
	width: 15px;
	position: absolute;
	top: 5px;
}
/* settings */
.change {
	width: 50%;
}
/* group */
.table-sm {
	border-radius: 5px;
	background: rgba(0, 75, 126, 0.1);
    box-shadow: 2px 2px 4px #777;
}
/* user */
.role_select {
	height: auto;
}
/* marks */
.mark-change {
    width: 15px;
    height: 20px;
}
.mid-change {
    width: 40px;
    height: 20px;
}
.container-marks .table-sm {
    border-radius: 5px;
    background: linear-gradient(to right, rgba(0, 75, 126, .1), rgba(0, 75, 126, .3));
}
.container-marks .table-sm td:first-child {
    padding-left: 10px;
}
.container-marks .table-sm td:nth-child(2),
.container-marks .table-sm td:nth-child(3) {
    text-align: center;
}
/* timetable */
.one-day {
	flex-basis: 30%;
	margin-bottom: 15px;
	box-shadow: 2px 2px 3px #888;
	transition: .3s;
	align-self: flex-start;
}
.one-day:hover {
	box-shadow: 5px 5px 7px #666;
}
.one-day h3 {
	background: #93BAC8;
	padding: 5px 10px;
	text-align: center;
	font-weight: 500;
	margin-bottom: 0;
}
/* status */
.status-set-button {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.status-set-has {
    background: rgb(0,75,126);
    color: #fff;
    border: 1px solid #999;
    margin-top: 3px;
}
.status-set-hasnt {
    color: rgb(0,75,126);
    background: #fff;
    border: 1px solid #999;
    margin-top: 3px;
}
.group-students {
    width: 100%;
}
.group-students td {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.group-student-name {
    width: 200px;
}
.group-status {
    width: 60%;
    margin-bottom: 30px;
}
/* selectors */
.selectors {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.one-selector {
    width: 40%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.one-selector:first-child {
    width: 20%;
}
.one-selector:nth-child(2) {
    width: 30%;
}
.one-selector:last-child {
    width: 50%;
}
.one-selector .button-filter {
    margin-bottom: 10px;
    width: 20%;
    margin-right: 0;
}
.one-selector h3 {
    color: #fff;
    background: rgba(0,75,126);
    padding: 5px 10px;
    text-align: center;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.wrapper .button-filter {
    width: 100%;
}
.placeholder {
    color: #888;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.dis-none {
    display: none;
}
/* main */
.w-45 {
    width: 45%;
}
.w-40 {
    width: 40%;
}
.w-35 {
	width: 35%;
}
.w-30 {
    width: 30%;
}
.w-100 {
    width: 100px;
}
.b-10 {
	margin-bottom: 10px;
}
.l-10 {
    margin-left: 10px;
}
.r-5 {
    margin-right: 5px;
}
.pl-10 {
	padding-left: 10px;
}
@import 'tooltip.scss';
@import 'notes.scss';
@import 'media-queries.scss';
