.user-select-delete {
    float: right;
    margin-right: 150px;
    border: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: .5s;
    text-align: center;
    cursor: pointer;
    color: #7F2200;
    background: #E26638;
}
.user-select-name {
    line-height: 30px;
}
.user-select-item {
    margin: 5px 0;
}
.user-select-add {
    background: #77a5f8;
    color: #000;
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
}
.user-select-add:hover {
    background: #99BDFF;
}
.user-select-submit {
    margin-top: 20px;
}
.user-select .form-control {
    margin-bottom: 5px;
}
